
.c-naranja {
    color: $naranja;
}
    
.texto__general {
    color: $blanco;
}
    
.texto__secundario {
    color: $negro;
}

/*Body*/
// body {
//     background-image: url(../imge/img2.jpg);
//     background-size: cover;
// }

/*Header*/
#portadaHeader img {
    margin: 15px;
    padding: auto;
}

.estiloBody {
    background-color: $negro;
}

.estiloBodyArtistas {
background-color: $negro;
}

/*Nav*/
.estilo__Nav {
    font-family: $fuente;
}

.estilo__Nav--tamaño {
    font-size: 20px;
    margin-top: 5px;
}

.colorFondo {
    background-color: $negro;
}

.estilo__Nav a:hover {
    background-color: $naranja;
    justify-content: space-evenly;
}

.estilo__Nav li {
    margin: 5px;
}

/*Contacto*/
#boton {
    background-color: $naranja;
    border-color: $naranja;
    font-size: 17px;
}

#cajaContacto {
    margin: 0px;
    padding: $size;
    width: 100%;
}

.contacto__estilo {
    text-align: center;
}

.contacto__estilo--posicion {
    margin-top: 50px;
}

/*Modal*/
.estiloModal {
    font-family: $fuente;
    font-size: 17px;
}

/*Main*/
.home__texto {
    color: $blanco;
    justify-content: center;
}

.home__texto--tamanio {
    margin: 20px;
    font-size: 22px;
}

/*Redes article*/
#publicidad {
    color: $blanco;
    font-family: $fuente;
}

#publicidad img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.rebotes {
    animation: rebote 1s  infinite;
}

@keyframes rebote {
    20%, 50%, 80% {
    transform: translateY(0);
    }

    40% {
    transform: translateY(-30px);
    }

    65% {
    transform: translateY(-15px);
    }
}

/*Portada*/
#homePortada img {
    display: flex;
    margin: auto;
}

/*Footer*/
.footer__estilo {
    text-align: center;
    border-color:$naranja;
}

.footer__estilo--tamanio {
    margin: 0px;
    font-size: 15px;
}

/*Podcast*/
.estiloPodcast iframe {
    justify-content: space-between;
}

/*Artistas */
#estiloArtistas p {
    color: $blanco;
    font-size: 14px;
}

#estiloArtistas a {
    color: $naranja;
    font-size: 20px;
    text-decoration: none;
}


/*Releases*/
.release__estilo h2 {
    font-family: $fuente;
}

.release__estilo--color h2 {
    color: $blanco;
}

.release__estilo--tamanio{
    font-size: 30px;
}

.release__estilo a {
    text-decoration: none;
    list-style-type: none;
    font-size: 17px;
}

/*Aside*/
.aside {
    margin: 0px;
}

@each $size in 20px, 15px, 30px {
    .estilo__Nav--tamaño-#{$size}{
        font-size: $size;
    }

    .footer__estilo--tamanio-#{$size}{
        font-size: $size;
    }
    .release__estilo--tamanio-#{$size}{
        font-size: $size;
    }
}

/*Titulos*/

.estilo__Titulos {
    color: $blanco;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    font-family: $fuente;
}